::-webkit-selection,
::selection {
  color: black;
  background: red; }

body {
  margin: 0;
  padding: 0; }

.main-body {
  margin: 8px; }

.button, .submit-art, .voting-button {
  background: transparent;
  border: 1px whiteSmoke;
  border-radius: 3px;
  display: inline-block;
  box-shadow: inset whiteSmoke 0px 0px 5px 0px, 0px 0px 5px 0px;
  color: whiteSmoke;
  padding: 5px;
  cursor: pointer; }

.file-upload {
  border: 0px;
  /*
  opacity: 0;
  Filter: alpha(opacity = 50);
  */ }

.submit-art {
  clear: left;
  display: block;
  height: 3em;
  display: inline-block;
  font-weight: bold;
  color: black;
  box-shadow: #222 0px 0px 3px 1px, inset #333 0px 0px 3px 0px; }

input[name="title"] {
  background: #333;
  border: black;
  color: #D1D1D1;
  font-weight: bold;
  line-height: 1.4em;
  border-radius: 3px; }

body {
  background: #333333;
  color: orange; }

.art {
  display: block;
  margin: auto;
  width: 90%;
  border: 5px solid;
  padding: 10px;
  border-top: 0px;
  margin-top: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-image: linear-gradient(top, #333333 33%, #232424 67%);
  background-image: -o-linear-gradient(top, #333333 33%, #232424 67%);
  background-image: -moz-linear-gradient(top, #333333 33%, #232424 67%);
  background-image: -webkit-linear-gradient(top, #333333 33%, #232424 67%);
  background-image: -ms-linear-gradient(top, #333333 33%, #232424 67%); }

@media handheld and (min-width: 500px), screen and (min-width: 500px) {
  .art {
    width: 50%; } }
.vote-form,
.remove-form {
  margin: 10px 0 0 0;
  display: inline-block; }

.vote-form .voting-button {
  background: transparent;
  background: rgba(30, 30, 30, 0.9);
  padding-left: 10px;
  padding-right: 10px; }

.art img {
  width: 100%; }

.art img.before {
  box-shadow: red 0px 0px 3px 3px;
  border: red solid 10px; }

.heading {
  display: inline-block;
  height: 3em;
  margin: 5px;
  position: relative; }

.picture-submission {
  float: right;
  display: inline-block; }

.footer {
  display: block;
  height: 10em; }

.error {
  color: red; }

.picture-submission {
  /*position: fixed;
  bottom: 0;*/ }

.submit-art-form > * {
  float: left; }

.picture-submission {
  display: inline-block;
  background: #CE1B1B;
  border: none;
  border-radius: 3px;
  color: black;
  bottom: 0px; }

.art-title {
  font-weight: bolder;
  font-size: 1.4em; }

.picture-submission-container {
  display: inline-block;
  -webkit-transition: height 1s;
  margin-top: 5px; }

.no-height {
  display: none;
  height: 0; }

.picture-submission > * {
  padding: 5px; }

.user-login-container {
  border-bottom: 1px solid; }

.submit-art-form > * {
  margin-right: 3px; }
